body {
    margin:0 !important;
}

.container-fluid {
    font-family: 'Montserrat', sans-serif;
    padding: unset !important;
}

.wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width:90%;
}

.header {
    font-weight: bold;
    background-color:#73C855;
    width: 100%;
    height: auto;
    border-bottom: black solid 1px;
}

h1, h2, h3, h4, h5 {
    text-align: center;
}
h2 {
    text-underline: black;
}

.SDU-logo {
    float: right;
}

.ingredient-box {
    background-color: orange;
    height: 354px;
    width: 157px;
}
.maintainence-table {
    float: right;
}
.maintainence-box {
    background-color: red;
    height: 354px;
    width: 100%;
}

.overview {
    margin-top:30px;
}
.controls {
    margin-top:20px;
}
.data-oee {
    margin-top:30px;
}
.data-box {
    background-color:#73C855;
}
.fas, .fab {
    padding-left: 5px;
}

.table td, .table th {
    border-top: none !important;
    text-align: center;
}
.printReportBox {
    border: solid black 1px;
}
.data-box {
    border: solid black 1px;
}
#resetBtn, #startBtn, #stopBtn, #abortBtn, #clearBtn {
    text-transform: uppercase;
}
input {
    border: solid 1px;
}
.list-group-item {
    margin-top: 15%;
    background-color: black !important;
    color: white;
    font-weight: bold;
    letter-spacing: 3px;
}
.list-group-item:hover {
    opacity: 80%;
}
button {
    border-radius: unset !important;
}
.ingredient-p {
    font-weight: bold;
    text-align: center;
    padding-top: 100%;
}
td {
    font-weight: bold;
}
select {
    background-color: white;
    width: 100%;
    padding: 3px 2px 2px 2px;
    border: solid 1px;
}